*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
   
  font-style: normal;
}

/* shared styles */
.flex{
    display: flex;
}

.dark-one{
    color: #424242;
}
.dark-two{
    color: #727272;
}

.width{
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    margin-top: 10px;


}


/* header start */
/* nav style */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 50px;
}
nav{
    justify-content: space-between;
    align-items: center;
    
}
nav h3{
    font-weight:  700;
    font-size:  3rem;
}

 
.nav-links{
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.2rem;
}

/* banner section style*/ 

 

header .banner .banner-content{
    max-width: 850px;
    margin: 100px auto 50px auto;
    text-align: center;
}

.banner-titel{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}
 
.banner-image img{
     max-width: 100%;
     /* margin-bottom: 20px; */
     border-radius: 8px;
}



/* Main Body style start */
.quick{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 80px;
    margin: 50px auto;
}

.quick-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.quick-text{
    max-width: 530px;

}

.quick-text-title{
    font-weight: 500;
    font-size: 2.8rem;
    color: #727272;
    

}

#quick-text-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(255, 144, 14, 1);
     
}
.quick-text h5{
    margin-bottom: 25px;
}
.quick-text p{
    color: #727272;
    margin-bottom: 20px;
}
.quick-img img{
    width: 100%;
}




/* Our Feature Style */

.our-feature{
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}
.our-feature-title{
    font-size: 2.8rem;
    font-weight: bold;
    border-left: 3px solid  rgba(255, 144, 14, 1) ;
    padding-left: 40px;
    margin-bottom: 24px;
}

.our-feature-description{
    margin-bottom: 30px;
}
.feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.our-feature-card{
    max-width: 580px;
    height: 170px;
    padding: 30px 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.our-feature-img {
    /* position: absolute;
     */
     
     max-width: 800px;
}
.our-feature-img img{
    width:100%;
}
.our-feature-img button{
    padding:45px 40px;
     position: relative;
     left: -75px;
     top: -100px;
     font-size: 1.5rem;
}

#button-text-one{
    font-size: 4rem;
    font-weight: bold;
}


/* media quary responsive  */
@media screen and (max-width: 576px) {
    nav,
    .nav-items,
     .quick,
     .our-feature
     {
        flex-direction: column;
    }
    nav .logo{
        margin-bottom: 30px;
    }
 
    .quick-img{
        grid-template-columns: 1fr;
    }
    .quick-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .quick-text h5, .quick-text p{
        text-align: center ;
    }
   
    .our-feature-img button{
        display: block;
        margin: 0 auto;
        left: 0;
        top: 0;
    }
    
}